body {
    background-color: #323232;
    background-image: url("images/WhatsApp Image 2024-01-12 at 7.48.50 PM.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    position: relative;
    top: 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
.container {
    position: absolute;
    background: whitesmoke;
    border-top-style: dashed;
    width: 50%;
    height: 96%;
    padding-left: 8px;
    padding-right: 8px;
    right: 0px;
    display: block;
}
p {
    position: relative;
    margin-top: 2%;
    font-weight: lighter;
    font-size: 1.15rem;
    color: rgb(92, 92, 92);
    text-align: left;
}

